In [1]:
import pandas as pd
import numpy as np
from multiprocesspandas import applyparallel

# DataFrame Groupby

In [11]:
data = pd.DataFrame(np.random.normal(0,1,(105,2)))
data['group'] = data.index%2
data['group2'] = data.index%3

def custom_func(data, num_to_add):
    return data[[0,1]]*2

output = data.groupby(['group']).apply_parallel(custom_func, num_to_add=5, num_processes=4, n_chunks=20)
output.head()

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:00<00:00, 375.45it/s]

                0         1
group
0     0  0.281548 -2.205709
      2  1.654476 -1.604071
      4  2.000506  4.031153
      6 -2.615728 -0.150742
      8  2.222985  4.007848

# DataFrames

In [21]:
data = pd.DataFrame(np.zeros((105,2)), columns = ['A','B'])

def func(data, num_to_add):
    return (data+num_to_add).sum()

output = data.apply_parallel(func, num_to_add=np.arange(105), num_processes=4, axis=1, n_chunks=20)
output.head()

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 2/2 [00:00<00:00, 1800.52it/s]

A    5460.0
B    5460.0
dtype: float64

# Series

In [22]:
data = pd.Series(np.arange(100))

def func(data, num_to_add):
    return num_to_add+data

output = data.apply_parallel(func, num_to_add=0.01, num_processes=4, n_chunks=20)
output.head()

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 100/100 [00:00<00:00, 9650.73it/s]

0    0.01
1    1.01
2    2.01
3    3.01
4    4.01
dtype: float64